In [11]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re
import csv

In [28]:
df = pd.DataFrame()

In [2]:
dataframe = {}

In [3]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36'}
page_no = 1
restaurant_reviews =[]

In [29]:
for page_no in range(1,4):
    response = requests.get("https://www.zomato.com/bangalore/restaurants?page={0}".format(page_no), headers=headers)
    content = response.content
    soup = BeautifulSoup(content, "html.parser")
    search_list = soup.find_all("div", {'id': 'orig-search-list'})
    list_content = search_list[0].find_all("div", {'class': 'content'})
    
    for i in range(15):
        #print(list_content[i])
        res_name = list_content[i].find("a",{'data-result-type': 'ResCard_Name'})
        divs = list_content[i].find_all(class_="rating-value")
        for x in divs[0]:
            rating = x
        res_url = res_name.get('href')
        
        '''res_url = res_url+'/reviews'
        response_url = requests.get(res_url, headers=headers)
        content_url = response_url.content
        content_soup = BeautifulSoup(content_url, "html.parser")
        #print(content_soup)
        #for j in range(10):
        rev = content_soup.find_all("p",{'class':"sc-1hez2tp-0 sc-drKuOJ koPuph"})
        #rev1 = rev.get('span')
        print(rev)
        #for a in rev[10]:
        #    print(a)'''
        name = res_name.get('title')
        dataframe["name"] = name.strip()
        dataframe["url"] = res_url
        dataframe["rating"] = rating
        #print(dataframe)
        restaurant_reviews.append(dataframe['name'])
        #print(restaurant_reviews)
        #i += 1
        df = df.append(pd.DataFrame([dataframe], columns=dataframe.keys()),ignore_index = True)
        #df1.append(df, ignore_index = True)

In [31]:
df.head()

,name,url,rating
0,"byg brewski brewing company Restaurant, Hennur",https://www.zomato.com/bangalore/byg-brewski-b...,4.5
1,"kota kachori Restaurant, Koramangala 6th Block",https://www.zomato.com/bangalore/kota-kachori-...,4.4
2,"druid garden Restaurant, Sahakara Nagar",https://www.zomato.com/bangalore/the-druid-gar...,4.4
3,"nandhana palace Restaurant, Indiranagar",https://www.zomato.com/bangalore/nandhana-pala...,4.3
4,"meghana foods Restaurant, Jayanagar",https://www.zomato.com/bangalore/meghana-foods...,4.4

Empty DataFrame
Columns: []
Index: []